@page
@model KUHorN.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Information";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" async>document.body.style.backgroundColor = "black";</script>
    <style>
        .img-sor {
            width: 80%;
            height: 15vh;
            opacity: .5;
        }

            .img-sor:hover {
                opacity: 1.0;
            }
    </style>
</head>
<body>
    <div class="container-fluid">

        <div class="row vh-100 d-flex justify-content-center align-items-center" style="text-align:center">
            <div class="col-12">
                <p style="font-family: serif; font-size: 2vw; color: whitesmoke;">
                    <b>Website Admin: Potts</b>
                    <br />›Email admin concerns regarding website:<a style="font-family: serif; font-size: 2vw; color: whitesmoke;" href="mailto:kuhotornot@gmail.com"> <u>kuhotornot@gmail.com</u>‹</a>
                    <br /><u>Personal Issues</u>
                    <br />›Admin will address personal issues if possible‹
                    <br />›Owner will be notified if needed‹
                    <br /><u>Functionality Issues (Example: formatting, glitches, etc.)</u>
                    <br />›Please be specificy what device you are using and what issue is occuring‹
                    <br />›Be specific so the owner can quickly identify and fix the problem‹
                    <br /><u>Business</u>
                    <br />›Contact admins email if you have business inquiries‹
                    </p>
            </div>
        </div>
        
    </div>
</body>
</html>



