@page
@model KUHorN.Pages.DevelopModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" async>document.body.style.backgroundColor = "black";</script>
    <style>
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100 d-flex justify-content-center align-items-center" style="text-align:center">
            <div class="col-12">
                <p style="font-family: serif; font-size: 2.3vw; color: whitesmoke;">
                    <b>Website Owner: <img src="https://localhost:5001/images/K.png" style="height:2vw"/>obraCoding</b>
                    <br />Email for inquiries regarding developer opportunities: <a style="font-family: serif; font-size: 2vw; color: whitesmoke;" href="mailto:yourdadkobra@gmail.com"><u>yourdadkobra@gmail.com</u></a>
                            <br /><u>Programming</u>
                            <br />›HTML, Javascript, C#, Swift, etc.‹
                            <br />›Website, App, and Game development‹
                            <br />›Expand coding IQ by learning from other coders‹
                            <br /><u>Creativity</u>
                            <br />›Need individuals with big imaginations‹
                            <br />›Expanding and improving the website‹
                            <br />›Solving world issues with technology‹
                            <br />›Future websites, apps, and game projects‹
                </p>
            </div>
        </div>        
    </div>
</body>
</html>