@page
@model KUHorN.Pages.DisclaimerModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" async>document.body.style.backgroundColor = "black";</script>
    <style>
        .img-sor {
            width: 80%;
            height: 15vh;
            opacity: .5;
        }

            .img-sor:hover {
                opacity: 1.0;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100 d-flex justify-content-center align-items-center" style="text-align:center">
            <div class="col-12">
                <p2 style="font-size: 2vw; font-family: serif; color:whitesmoke;">
                    !!!!!WEBSITE IS NOT AFFILIATED WITH THE UNIVERISTY OF KANSAS!!!!!
                    <br />›All photos used in website are publically available to anyone on the internet‹
                    <br />›My hope is that the website is received well as it is just for fun‹
                    <br />›The intentions behind KU Hot or Not are lighthearted‹
                    <br />›I realize this website may be controversial but is only a fun project‹
                    <br />›Similar apps and websites have existed for years‹
                    <br />›Refer to the <a style="color:whitesmoke" asp-page="/Contact"><u>contact</u></a> page to have any issues addressed‹
                </p2>
            </div>
        </div>
    </div>
</body>
</html>