@page
@model KUHorN.Pages.TimeLineModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" async>document.body.style.backgroundColor = "black";</script>
    <style>
        .img-sor {
            width: 80%;
            height: 15vh;
            opacity: .5;
        }

            .img-sor:hover {
                opacity: 1.0;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100 d-flex justify-content-center align-items-center" style="text-align:center">
            <div class="col-12">
                <p2 style="font-size: 2vw; font-family: serif; color:whitesmoke;">
                    ›The <a style="color:whitesmoke" asp-page="/Index"><u>homepage</u></a> will display pictures of two KU students‹
                    <br /> ›The pictures are imported from the PUBLIC Instagram pages of KU sororities‹
                    <br /> ›Players choose between the two pictures displayed‹
                    <br /> ›Players base their choice on attraction to each student pictured‹
                    <br /> ›Each picture will start with 0 points‹
                    <br /> ›Pictures chosen when displayed will receive +10 points‹
                    <br /> ›Pictures cannot drop below 0 points‹
                </p2>
            </div>
        </div>
    </div>
</body>
</html>









